<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="platform" value="local" />
<listeners> <listener class-name="TestComponents.Listeners"></listener> </listeners> 

  <test  name="Test">

  <classes>
  <class name="RegistrationModule.RegistrationForm"/>
 <class name="RegistrationModule.RegistrationUI"/> 

 
  
  </classes>
  </test> 
  
  <!-- Test -->
</suite> <!-- Suite -->
